@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome!</h2>
<p> This is a site where you 100% forget your user name and password.</p>
<p> Are you already a member? @Html.ActionLink("Login", "Login", "Account")</p>

<p> Click on the registration below to join 7.53+ billion others in the world who also can't remember.</p>
<p>@Html.ActionLink("Registration", "Register", "Account")</p>

<svg width="100" height="100">
    <circle cx="50" cy="50" r="40"
            stroke="green" stroke-width="4" fill="yellow" />
</svg>